<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEstoqueWS" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:49487/WsHost/EstoqueWs.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstoqueWS"
              contract="IEstoqueWS" name="BasicHttpBinding_IEstoqueWS" >
            <headers>
              <Token>TOKEN123</Token>
            </headers>
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>