<h2>_CompreMais</h2>

<div class="row">
    <div class="col-md-12 col-xs-12">
        @Html.ActionLink("Continue comprando", "index", "loja", null, new { @class = "btn btn-info btn-lg" })
        @*<a class="btn btn-info btn-lg" href="<c:url value=" />loja/index" />">
        <span class="glyphicon glyphicon-book"></span> Continue comprando
        </a>*@
    </div>
</div>

